{% extends 'base.html.twig' %}

{% block title %}Lien utilisateur machine{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ component('navBarComponent') }}
    <div class="container">
        {% for message in app.flashes('successAdd') %}
            <div class="alert alert-success mt-2">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="h3 mt-5 mb-3 font-weight-normal text-center">Créer un lien</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-12 col-md-5 mb-3">
                {{ form_label(form.user, 'Utilisateur') }}
                {{ form_widget(form.user, {'attr': {'class': 'form-control form-textarea'}}) }}
            </div>
            <div class="col-sm-12 col-md-5 mb-3">
                {{ form_label(form.wineGame, 'Machine') }}
                {{ form_widget(form.wineGame, {'attr': {'class': 'form-control form-textarea'}}) }}
            </div>
            <div class="col-sm-12 col-md-2 d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-info">Créer le lien</button>
            </div>
        </div>
        {{ form_end(form) }}

        <table class="table table-dark table-striped mt-5">
            <thead>
            <tr>
                <th scope="col" class="w-0">Utilisateur</th>
                <th scope="col">Machine</th>
                <th scope="col" class="w-0">Bouton</th>
            </tr>
            </thead>
            <tbody>
            {% for link in links %}
                <tr>
                    <td>{{ link.user.email }}</td>
                    <td>{{ link.game.id }} : {{ link.game.wineGameName }}</td>
                    <td>
                        <form action="{{ url('app_deleteUser-WineGame', { user: link.user.id, game: link.game.id }) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-user-wineGame'~link.user.id~link.game.id) }}"/>
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ component('footerComponent') }}
{% endblock %}
